@model IEnumerable<SAConfig.Models.saconfig_tVoltageLevel>

@{
    ViewBag.Title = "VoltageLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VoltageLevel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            name
        </th>
        <th>
            Substation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tSubstation.desc, "Substation")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
