@model SAConfig.Models.saconfig_IEDName

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>IEDName Attributes</legend>

    <div class="display-label">apRef</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apRef)
    </div>

    <div class="display-label">ldInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ldInst)
    </div>

    <div class="display-label">lnClass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLNClassEnum.value)
    </div>

    <div class="display-label">lnInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lnInst)
    </div>

    <div class="display-label">prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prefix)
    </div>

    <div class="display-label">ControlWithIEDName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tControlWithIEDName.desc)
    </div>

    <div class="display-label">SampledValueControl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSampledValueControl.desc)
    </div>

    <div class="display-label">GSEControl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tGSEControl.desc)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_IEDNameOwnerType.OwnerType)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
