@model SAConfig.Models.saconfig_tDOI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>DOI Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">ix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ix)
    </div>

    <div class="display-label">accessControl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accessControl)
    </div>

    <div class="display-label">LN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN.desc)
    </div>

    <div class="display-label">LN0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN0.desc)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_DOIOwnerType.OwnerType)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
