@model IEnumerable<SAConfig.Models.saconfig_tLDevice>

@{
    ViewBag.Title = "LDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LDevice</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            inst
        </th>
        <th>
            ldName
        </th>
        <th>
            Server
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tServer.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
