@model IEnumerable<SAConfig.Models.saconfig_Authentication>

@{
    ViewBag.Title = "Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authentication</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            none
        </th>
        <th>
            password
        </th>
        <th>
            weak
        </th>
        <th>
            strong
        </th>
        <th>
            certificate
        </th>
        <th>
            Server
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.none)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.certificate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tServer.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
