@model SAConfig.Models.saconfig_tLog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Log Attributes</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">LN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN.desc)
    </div>

    <div class="display-label">LN0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN0.desc)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_LogOwnerType.OwnerType)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
