@model IEnumerable<SAConfig.Models.saconfig_tLNode>

@{
    ViewBag.Title = "LNode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LNode</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            iedName
        </th>
        <th>
            ldInst
        </th>
        <th>
            prefix
        </th>
        <th>
            lnClass
        </th>
        <th>
            lnInst
        </th>
        <th>
            lnType
        </th>
        <th>
            ConnectivityNode
        </th>
        <th>
            Bay
        </th>
        <th>
            Substation
        </th>
        <th>
            VoltageLevel
        </th>
        <th>
            Owner Type
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idInst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tLNClassEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lnInst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lnType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tConnectivityNode.pathName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tBay.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tSubstation.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tVoltageLevel.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_NodeOwnerType.OwnerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
