@model SAConfig.Models.saconfig_tLN0

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LN0 Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">lnType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lnType)
    </div>

    <div class="display-label">lnClass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLNClassEnum.value)
    </div>

    <div class="display-label">inst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inst)
    </div>

    <div class="display-label">LDevice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLDevice.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
