@model SAConfig.Models.saconfig_tBDA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BDA Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tAttributeNameEnum.value)
    </div>

    <div class="display-label">sAddr</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sAddr)
    </div>

    <div class="display-label">bType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tBasicTypeEnum.value)
    </div>

    <div class="display-label">valKind</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tValKindEnum.value)
    </div>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">count</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.count)
    </div>

    <div class="display-label">DA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tDA.desc)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
