@model SAConfig.Models.saconfig_tP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>P Attributes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.type, "type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("type", String.Empty)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhysConn, "PhysConn")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PhysConn", String.Empty)
            @Html.ValidationMessageFor(model => model.PhysConn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address, "Address")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Address", String.Empty)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerType, "Owner Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OwnerType", String.Empty)
            @Html.ValidationMessageFor(model => model.OwnerType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
