@model SAConfig.Models.saconfig_tP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>P Attributes</legend>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tPTypeEnum.value)
    </div>

    <div class="display-label">PhysConn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tPhysConn.type)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tAddress.ID)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_POwnerType.OwnerType)
    </div>

    <div class="display-label">value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
