@model SAConfig.Models.saconfig_tDAType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("BDA", "Index", "BDA") |
    @Html.ActionLink("ProtNs", "Index", "ProtNs")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DAType Attributes</legend>

        @Html.HiddenFor(model => model.ID_)

        <div class="editor-label">
            @Html.LabelFor(model => model.desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.desc)
            @Html.ValidationMessageFor(model => model.desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ident, "id")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ident)
            @Html.ValidationMessageFor(model => model.ident)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.iedType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.iedType)
            @Html.ValidationMessageFor(model => model.iedType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataTypeTemplates, "DataTypeTemplates")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DataTypeTemplates", String.Empty)
            @Html.ValidationMessageFor(model => model.DataTypeTemplates)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
