@model SAConfig.Models.saconfig_tSVMSettings

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SVMSettings Attributes</legend>

    <div class="display-label">Element Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_SVMSettingsInternalElementName.ElementName)
    </div>

    <div class="display-label">svID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum.value)
    </div>

    <div class="display-label">optFields</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum1.value)
    </div>

    <div class="display-label">smpRate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum2.value)
    </div>

    <div class="display-label">samplesPerSec</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum3.value)
    </div>

    <div class="display-label">cbName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum4.value)
    </div>

    <div class="display-label">datSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServiceSettingsEnum5.value)
    </div>

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServices.ID)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
