@model SAConfig.Models.saconfig_tTransformerWinding

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TransformerWinding Attributes</legend>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">virtual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.virtual_)
    </div>

    <div class="display-label">PowerTransformer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tPowerTransformer.type)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
