@model SAConfig.Models.saconfig_tBitRateInMbPerSec

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BitRateInMbPerSec Attributes</legend>

    <div class="display-label">unit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit)
    </div>

    <div class="display-label">multiplier</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tUnitMultiplierEnum.value)
    </div>

    <div class="display-label">SubNetwork</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSubNetwork.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
