@model SAConfig.Models.saconfig_tSubFunction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("GeneralEquipment", "Index", "GeneralEquipment") |
    @Html.ActionLink("ConductingEquipment", "Index", "ConductingEquipment") |
    @Html.ActionLink("LNode", "Index", "LNode")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SubFunction Attributes</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Function)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Function", String.Empty)
            @Html.ValidationMessageFor(model => model.Function)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
