@model SAConfig.Models.saconfig_tLN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>LN Attributes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.desc)
            @Html.ValidationMessageFor(model => model.desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lnType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lnType)
            @Html.ValidationMessageFor(model => model.lnType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prefix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prefix)
            @Html.ValidationMessageFor(model => model.prefix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lnClass, "lnClass")
        </div>
        <div class="editor-field">
            @Html.DropDownList("lnClass", String.Empty)
            @Html.ValidationMessageFor(model => model.lnClass)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.inst)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.inst)
            @Html.ValidationMessageFor(model => model.inst)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LDevice, "LDevice")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LDevice", String.Empty)
            @Html.ValidationMessageFor(model => model.LDevice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccessPoint, "AccessPoint")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccessPoint", String.Empty)
            @Html.ValidationMessageFor(model => model.AccessPoint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerType, "Owner Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OwnerType", String.Empty)
            @Html.ValidationMessageFor(model => model.OwnerType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
