@model SAConfig.Models.saconfig_tLN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LN Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">lnType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lnType)
    </div>

    <div class="display-label">prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prefix)
    </div>

    <div class="display-label">lnClass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLNClassEnum.value)
    </div>

    <div class="display-label">inst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inst)
    </div>

    <div class="display-label">LDevice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLDevice.desc)
    </div>

    <div class="display-label">AccessPoint</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tAccessPoint.desc)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_LNOwnerType.OwnerType)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
