@model IEnumerable<SAConfig.Models.saconfig_tConfLNs>

@{
    ViewBag.Title = "ConfLNs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfLNs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            fixPrefix
        </th>
        <th>
            fixLnInst
        </th>
        <th>
            Services
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fixPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixLnInst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tServices.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
