@model SAConfig.Models.saconfig_tDOType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DOType Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ident)
    </div>

    <div class="display-label">iedType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iedType)
    </div>

    <div class="display-label">cdc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tCDCEnum.value)
    </div>

    <div class="display-label">DataTypeTemplates</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tDataTypeTemplates.ID)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
