@model SAConfig.Models.saconfig_SmvOpts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SmvOpts Attributes</legend>

    <div class="display-label">dataRef</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataRef)
    </div>

    <div class="display-label">dataSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataSet)
    </div>

    <div class="display-label">refreshTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.refreshTime)
    </div>

    <div class="display-label">sampleRate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sampleRate)
    </div>

    <div class="display-label">sampleSynchronized</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sampleSynchronized)
    </div>

    <div class="display-label">security</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.security)
    </div>

    <div class="display-label">SampledValueControl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSampledValueControl.desc)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
