@model SAConfig.Models.saconfig_tServerAt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ServerAt Attributes</legend>

    <div class="display-label">appName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.appName)
    </div>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">AccessPoint</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tAccessPoint.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, upperLevelID = (long)ViewBag.UpperLevelID, backURL = (string)(ViewBag.BackURL) }) |
    <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
</p>
