@model SAConfig.Models.saconfig_tGSEControl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>GSEControl Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">datSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datSet)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">confRev</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.confRev)
    </div>

    <div class="display-label">appID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.appID)
    </div>

    <div class="display-label">fixedOffs</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fixedOffs)
    </div>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tGSEControlTypeEnum.value)
    </div>

    <div class="display-label">LN0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN0.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
