@model IEnumerable<SAConfig.Models.saconfig_tGSEControl>

@{
    ViewBag.Title = "GSEControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GSEControl</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            datSet
        </th>
        <th>
            name
        </th>
        <th>
            confRev
        </th>
        <th>
            appID
        </th>
        <th>
            fixedOffs
        </th>
        <th>
            type
        </th>
        <th>
            LN0
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datSet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confRev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixedOffs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tGSEControlTypeEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tLN0.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
