@model SAConfig.Models.saconfig_tLogControl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LogControl Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">datSet</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.datSet)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">intgPd</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.intgPd)
    </div>

    <div class="display-label">bufTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bufTime)
    </div>

    <div class="display-label">ldInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ldInst)
    </div>

    <div class="display-label">lnClass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLNClassEnum.value)
    </div>

    <div class="display-label">lnInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lnInst)
    </div>

    <div class="display-label">logEna</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logEna)
    </div>

    <div class="display-label">logName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logName)
    </div>

    <div class="display-label">prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prefix)
    </div>

    <div class="display-label">reasonCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reasonCode)
    </div>

    <div class="display-label">LN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN.desc)
    </div>

    <div class="display-label">LN0</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLN0.desc)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_LogControlOwnerType.OwnerType)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
