@model IEnumerable<SAConfig.Models.saconfig_tReportControl>

@{
    ViewBag.Title = "ReportControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReportControl</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            datSet
        </th>
        <th>
            name
        </th>
        <th>
            intgPd
        </th>
        <th>
            buffered
        </th>
        <th>
            bufTime
        </th>
        <th>
            confRev
        </th>
        <th>
            indexed
        </th>
        <th>
            rptID
        </th>
        <th>
            LN
        </th>
        <th>
            LN0
        </th>
        <th>
            Owner Type
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datSet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intgPd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bufTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confRev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indexed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rptID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tLN.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LN0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_ReportControlOwnerType.OwnerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
