@model IEnumerable<SAConfig.Models.saconfig_tSettingControl>

@{
    ViewBag.Title = "SettingsControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SettingsControl</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            actSG
        </th>
        <th>
            numOfSGs
        </th>
        <th>
            LN0
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actSG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfSGs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tLN0.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
