@model SAConfig.Models.saconfig_tServiceYesNo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>@Html.Raw((string)ViewBag.ElementName) Attributes</legend>

    @Html.Hidden("upperLevelID", (long)ViewBag.UpperLevelID)
    @Html.Hidden("elementName", (string)ViewBag.ElementName)
    @Html.Hidden("ownerType", (string)ViewBag.OwnerType)

    <div class="display-label">value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>

    <div class="display-label">Element Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_ServiceYesNoElementName.ElementName)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_ServiceYesNoOwnerType.OwnerType)
    </div>

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServices.ID)
    </div>

    <div class="display-label">SettingGroups</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_SettingGroups.ID)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
    </p>
}
