@model SAConfig.Models.saconfig_tConductingEquipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ConductingEquipment Attributes</legend>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tCommonConductingEquipmentEnum.value)
    </div>

    <div class="display-label">virtual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.virtual_)
    </div>

    <div class="display-label">SubFunction</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSubFunction.type)
    </div>

    <div class="display-label">Bay</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tBay.desc)
    </div>

    <div class="display-label">Function</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tFunction.type)
    </div>

    <div class="display-label">Owner Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_ConductingEquipmentOwnerType.OwnerType)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
