@model IEnumerable<SAConfig.Models.saconfig_tDA>

@{
    ViewBag.Title = "DA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DA</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            desc
        </th>
        <th>
            name
        </th>
        <th>
            sAddr
        </th>
        <th>
            bType
        </th>
        <th>
            valKind
        </th>
        <th>
            type
        </th>
        <th>
            count
        </th>
        <th>
            dchg
        </th>
        <th>
            qchg
        </th>
        <th>
            dupd
        </th>
        <th>
            fc
        </th>
        <th>
            DOType
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tAttributeNameEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tBasicTypeEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tValKindEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dchg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qchg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dupd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tFCEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tDOType.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
