@model SAConfig.Models.saconfig_tAssociation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Association Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">iedName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iedName)
    </div>

    <div class="display-label">ldInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ldInst)
    </div>

    <div class="display-label">prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prefix)
    </div>

    <div class="display-label">lnClass</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tLNClassEnum.value)
    </div>

    <div class="display-label">lnInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lnInst)
    </div>

    <div class="display-label">kind</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tAssociationKindEnum.value)
    </div>

    <div class="display-label">associationID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.associationID)
    </div>

    <div class="display-label">Server</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tServer.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
