@model SAConfig.Models.saconfig_tServer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("Association", "Index", "Association") |
    @Html.ActionLink("Authentication", "Index", "Authentication") |
    @Html.ActionLink("LDevice", "Index", "LDevice")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Server Attributes</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("upperLevelID", (long)ViewBag.UpperLevelID)

        <div class="editor-label">
            @Html.LabelFor(model => model.desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.desc)
            @Html.ValidationMessageFor(model => model.desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.timeout)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.timeout)
            @Html.ValidationMessageFor(model => model.timeout)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccessPoint, "AccessPoint")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccessPoint", String.Empty)
            @Html.ValidationMessageFor(model => model.AccessPoint)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Html.Raw((String)(ViewBag.BackURL))">Back to Upper Element</a>
</div>
