@model SAConfig.Models.saconfig_tAddress

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("P", "Index", "P")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Address Attributes</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ConnectedAP, "ConnectedAP")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ConnectedAP", String.Empty)
            @Html.ValidationMessageFor(model => model.ConnectedAP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SMV, "SMV")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SMV", String.Empty)
            @Html.ValidationMessageFor(model => model.SMV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GSE, "GSE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GSE", String.Empty)
            @Html.ValidationMessageFor(model => model.GSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerType, "Owner Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OwnerType", String.Empty)
            @Html.ValidationMessageFor(model => model.OwnerType)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
