@model SAConfig.Models.saconfig_tHitem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Hitem Attributes</legend>

    <div class="display-label">revision</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.revision)
    </div>

    <div class="display-label">version</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.version)
    </div>

    <div class="display-label">what</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.what)
    </div>

    <div class="display-label">when</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.when)
    </div>

    <div class="display-label">who</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.who)
    </div>

    <div class="display-label">why</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.why)
    </div>

    <div class="display-label">History</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_History.ID)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
