@model IEnumerable<SAConfig.Models.saconfig_tHitem>

@{
    ViewBag.Title = "Hitem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hitem</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            revision
        </th>
        <th>
            version
        </th>
        <th>
            what
        </th>
        <th>
            when
        </th>
        <th>
            who
        </th>
        <th>
            why
        </th>
        <th>
            History
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.revision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.what)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.when)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.who)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.why)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_History.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
