@model SAConfig.Models.saconfig_tGSE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>GSE Attributes</legend>

    <div class="display-label">desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.desc)
    </div>

    <div class="display-label">ldInst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ldInst)
    </div>

    <div class="display-label">cbName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cbName)
    </div>

    <div class="display-label">ConnectedAP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tConnectedAP.desc)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
