@model SAConfig.Models.saconfig_tDurationInMilliSec

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DurationInMilliSec Attributes</legend>

    <div class="display-label">unit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSIUnitEnum.value)
    </div>

    <div class="display-label">multiplier</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tUnitMultiplierEnum.value)
    </div>

    <div class="display-label">GSE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tGSE.desc)
    </div>

    <div class="display-label">Element Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_DurationInMilliSecElementName.ElementName)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
