@model SAConfig.Models.saconfig_tDurationInMilliSec

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>DurationInMilliSec Attributes</legend>

    <div class="display-label">unit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tSIUnitEnum.value)
    </div>

    <div class="display-label">multiplier</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tUnitMultiplierEnum.value)
    </div>

    <div class="display-label">GSE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_tGSE.desc)
    </div>

    <div class="display-label">Element Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.saconfig_DurationInMilliSecElementName.ElementName)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
