@model IEnumerable<SAConfig.Models.saconfig_tDurationInMilliSec>

@{
    ViewBag.Title = "DurationInMilliSec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DurationInMilliSec</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            unit
        </th>
        <th>
            multiplier
        </th>
        <th>
            GSE
        </th>
        <th>
            Element Name
        </th>
        <th>
            DataOwnerID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tSIUnitEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tUnitMultiplierEnum.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_tGSE.desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saconfig_DurationInMilliSecElementName.ElementName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
